trigger:
- none

pool:
  name: Default
  demands:
  - agent.os -equals Darwin

steps:
- task: MavenAuthenticate@0
  inputs:
    artifactsFeeds: 'kyonjan1'

- script: |
    echo "Settings = $(MAVEN_SETTINGS_XML)"
  displayName: "Check variable"
